# 의존성 및 빌드 결과물
node_modules/
node_modules/
npm-debug.log
.next/
out/
build/

# 환경 변수 파일 (보안상 도커 이미지에 포함되면 안 됨)
.env
.env.local
.env.production
.env.dev

# OS 및 에디터 설정
.DS_Store
.vscode/
.idea/
.git/
.gitignore

# Docker 관련 파일
Dockerfile
docker-compose.yml
.dockerignore