name: EC2 CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Copy files (docker-compose.yml and default.conf)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: "docker-compose.yml,default.conf"
          target: "/app"

      - name: Write .env.* files and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            cd /app/
            
            echo "File 전송 완료."
            echo "Front 환경 설정 중..."
            cat > .env.front <<EOF
            NEXT_PUBLIC_FRONT_API_URL=${{ secrets.NEXT_PUBLIC_FRONT_API_URL }}
            EOF
            echo "Front 환경 설정 완료!"

            echo "Back 환경 설정 중..."
            cat > .env.back <<EOF
            SPRING_DATASOURCE_URL=${{ secrets.SPRING_DATASOURCE_URL }}
            SPRING_DATASOURCE_USERNAME=${{ secrets.MYSQL_USER }}
            SPRING_DATASOURCE_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

            CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}

            SPRING_JPA_HIBERNATE_DDL_AUTO=validate
            SPRING_JPA_SHOW_SQL=false
            SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=false
            SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect

            SPRING_PROFILES_ACTIVE=prod

            JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}
            JWT_EXPIRE_TIME_ACCESS=180000
            JWT_EXPIRE_TIME_REFRESH=604800

            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_S3_BUCKET_NAME=${{ secrets.AWS_S3_BUCKET_NAME }}
            AWS_S3_REGION=${{ secrets.AWS_S3_REGION }}

            TOSS_PAYMENTS_SECRET_KEY=${{ secrets.TOSS_PAYMENTS_SECRET_KEY }}
            TOSS_PAYMENTS_CLIENT_KEY=${{ secrets.TOSS_PAYMENTS_CLIENT_KEY }}

            SPRING_MAIL_HOST=smtp.gmail.com
            SPRING_MAIL_PORT=${{ secrets.SPRING_MAIL_PORT }}
            SPRING_MAIL_USERNAME=${{ secrets.SPRING_MAIL_USERNAME }}
            SPRING_MAIL_PASSWORD=${{ secrets.SPRING_MAIL_PASSWORD }}

            APP_MAIL_FROM=noreply@skillary.com
            APP_MAIL_SUBJECT=Skillary 이메일 인증 코드
            APP_MAIL_CODE_EXPIRY_MINUTES=300
            EOF
            echo "Back 환경 설정 완료!"

            echo "DB 환경 설정 중..."
            cat > .env.db <<EOF
            MYSQL_USER=${{ secrets.MYSQL_USER }}
            MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}
            MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}
            MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
            MYSQL_QUERY_CACHE_SIZE=${{ secrets.MYSQL_QUERY_CACHE_SIZE }}
            MYSQL_THREAD_CACHE_SIZE=${{ secrets.MYSQL_THREAD_CACHE_SIZE }}
            MYSQL_INNODB_BUFFER_POOL_SIZE=${{ secrets.MYSQL_INNODB_BUFFER_POOL_SIZE }}
            MYSQL_MAX_CONNECTIONS=${{ secrets.MYSQL_MAX_CONNECTIONS }}
            EOF
            echo "DB 환경 설정 완료!"
            
            echo "Docker Compose 실행 중..."
            
            docker compose pull
            docker compose up -d

            echo "정리 중..."
            docker image prune -f
            echo "배포 완료!"